<div class="page-header">
  <h1>Administration<small> No trespassing!</small></h1>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Manage helplist</h3>
      </div>
      <div class="panel-body">
        <ul class="list-unstyled">
          <li><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> <%= link_to 'Shop open entries', admin_entries_path, method: :get %></li>
          <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <%= link_to 'Show closed entries', admin_closed_entries_path, method: :get %></li>
          <li><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> <%= link_to 'Close all open entries', admin_clear_all_entries_path, method: :delete %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Comments</h3>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Breaks</h3>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>
</div>
