<div class="page-header">
	<h1>Helplist <small><%= @filter %></small></h1>
</div>

<p><span class="label label-info">Tip</span> This page will automatically refresh after 20 seconds.</p>

<%= render "helplist" %>
