<!DOCTYPE html>
<html lang="en">
	<head>
	  <title>NSA helplist</title>
	  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
		<%- #= javascript_include_tag 'application', 'data-turbolinks-track' => true -%>
	  <%= csrf_meta_tags %>
	</head>
	<body>

	<% if notice %>
		<div class="alert alert-success">
			<%= notice %>
		</div>
	<% end %>

		<%= yield %>

	</body>
</html>
